@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  transition: height 50ms ease-in-out;
}

.item.insight {
  transition-delay: 0s;
  height: 8rem;
  border-radius: 10px;
}

.item.outsight {
  height: 2rem;
}

.highlight {
  background-color: gray;
  /* border-radius: 0.3rem; */
}

.highlight-less {
  background-color: gainsboro;
  /* border-radius: 0.3rem; */
}

.idea-selecor {
  margin-top: 0.25rem /* 4px */;
  cursor: pointer;
  width: 100%;
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}
.idea-selecor {
  @apply mt-1 cursor-pointer w-full border-b-2 border-solid border-slate-400 bg-slate-400;
}

.input-div {
  @apply px-1 mx-3 w-full h-auto text-white focus:outline-none text-3xl flex flex-col justify-normal items-start whitespace-normal;
}

.remirror-theme {
  width: 100%;
}

/* #editor {
  
} */

.remirror-theme .ProseMirror > p:focus {
  outline: none;
  white-space: nowrap;
}

.remirror-theme .ProseMirror:active,
.remirror-theme .ProseMirror:focus {
  outline: none;
}

/* .remirror-theme .ProseMirror {
  min-height: var(--rmr-space-6);
  box-shadow: var(--rmr-color-border) 0px 0px 0px 0.1em;
  padding: var(--rmr-space-3);
  border-radius: var(--rmr-radius-border);
  outline: none;
} */
