@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  transition: height 50ms ease-in-out;
}

.item.insight {
  transition-delay: 0s;
  height: 4rem;
  border-radius: 10px;
}

.item.outsight {
  height: 0.75rem;
}
